@using Application.Helpers;
@{
    ViewData["Title"] = "Duyuru Ekle";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card" style="margin:auto;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Duyuru Ekle</h4>
                    <form class="forms-sample" id="addAnnouncementForm">
                        <div class="form-group">
                            <label for="name">Başlık</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Duyuru Tipi</label><br />
                            <select name="type" id="type">
                                <option value="0">@EnumHelper.GetDisplayName(Domain.Enums.Enums.AnnouncementType.Seminer)</option>
                                <option value="1">@EnumHelper.GetDisplayName(Domain.Enums.Enums.AnnouncementType.Duyuru)</option>
                                <option value="2">@EnumHelper.GetDisplayName(Domain.Enums.Enums.AnnouncementType.Bilgi)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="content">İçerik</label>
                            <textarea type="text" class="form-control" id="content" name="content" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="mainImage">Kapak Resmi</label>
                            <input required type="file" class="form-control" name="file" id="file" accept=".jpg,.png,.jpeg">
                        </div>
                        <button class="btn btn-danger"><a href="@Url.Action("Index","Announcement")" style="color:white;">İptal Ve Listeye Dön</a></button>
                        <button type="submit" class="btn btn-primary" style="float:right;">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/Announcement/create.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/vendors/jquery-validation/jquery.validate.min.js"></script>
}