
<header class="site-header site-contact-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <h3 class="text-white">İletişim</h3>
            </div>

        </div>
    </div>
    <div class="overlay"></div>
</header>

<section class="school section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h6>Eğitim Koordinatörleri:</h6><br />
                <p>Sifu Serhat DEMİR : +90 0544 444 4444</p><br />
                <p>Sihing Emre Yalnızlar  : +90 0544 444 4444</p>
                <br /> <br />
                <p><b>Size en yakın okulumuz ile <a href="@Url.Action("Index","Schools")"><span style="color: red">buradan</span></a> iletişime geçebilirsiniz.</b></p>
                    
            </div>

        </div>
    </div>
</section>