@{
    ViewData["Title"] = "Anasayfa";
}

<section>
    <div class="slider">
        <div>
            <img src="~/images/slider/1.jpg" title="deneme" style="margin:auto;">
        </div>
        <div>
            <img src="~/images/slider/2.jpg" title="deneme" style="margin:auto;" />
        </div>
        <div>
            <img src="~/images/slider/3.jpg" title="deneme" style="margin:auto;"/>
        </div>
        <div>
            <img src="~/images/slider/wto1.jpg" title="deneme" style="margin:auto;" />
        </div>
        <div>
            <img src="~/images/slider/wto2.jpg" title="deneme" style="margin:auto;" />
        </div>
    </div>
</section>

<section class="menu section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Okullarımız</h3>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img src="~/images/2.jpg" class="img-fluid menu-image" width="400" height="300" alt="">
                        <span class="menu-tag bg-warning">Kozyatağı</span>
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h6 class="mb-0">İstanbul Demir WingTsun</h6>
                    </div>
                    <div class="row">
                        <a href=""><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img src="~/images/2.jpg" class="img-fluid menu-image" width="400" height="300" alt="">
                        <span class="menu-tag bg-warning">Urla</span>
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h6 class="mb-0">İzmir Demir WingTsun</h6>
                    </div>
                    <div class="row">
                        <a href=""><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img src="~/images/3.jpg" class="img-fluid menu-image" width="400" height="300" alt="">
                        <span class="menu-tag bg-warning">Süleymanpaşa</span>
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h6 class="mb-0">Tekirdağ Demir WingTsun</h6><br />
                    </div>
                    <div class="row">
                        <a href=""><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                    </div>
                </div>
            </div>

        </div><br /><br />
        <div class="row">
            <h6 class="text-center mb-lg-5 mb-4"><a href="@Url.Action("Index","Schools")">Tümü --></a></h6>
        </div>
    </div>
</section>

<section class="news section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center mb-lg-5 mb-4">Duyurular & Seminerler</h3>
                    </div>
                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/3.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-info">Seminer</span>

                            <strong>12 April 2022</strong>

                            <h6 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">Tekirdağ Seminerimiz Sifu Serhat DEMİR Eşliğinde Gerçekleşti</a>
                            </h6>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/2.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-info">Seminer</span>

                            <strong>12 April 2022</strong>

                            <h6 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">İstanbul Seminerimiz Sifu Serhat DEMİR Eşliğinde Gerçekleşti</a>
                            </h6>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/header/wto1.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-danger">Duyuru</span>

                            <strong>12 April 2022</strong>

                            <h6 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">Yeni Dönem Kayıtlarımız Başlıyor !</a>
                            </h6>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <h6 class="text-center mb-lg-5 mb-4"><a href="@Url.Action("Index","News")">Tümü --></a></h6>
                </div>
            </div>
</section>

<section class="videos section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Videolar</h3>
            </div>
            <div class="row">
                <h6 class="mb-lg-5 mb-4"><a href="https://www.youtube.com/&#64;sifuserhatdemir/videos" target="_blank">Tüm videolar için tıklayınız</a></h6>
            </div>
            <div class="sliderVideo">
                <iframe width="420" height="300" src="https://www.youtube.com/embed/u-St9weWmP0" frameborder="0" allowfullscreen></iframe>
                <iframe width="420" height="300" src="https://www.youtube.com/embed/Ldj6hAT2TOY" frameborder="0" allowfullscreen></iframe>
                <iframe width="420" height="300" src="https://www.youtube.com/embed/7FNar0rUhHg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/bxSlider/js/bxslider.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                auto: true,
                autoControls: true,
                stopAutoOnClick: false,
                pager: true,
                slideWidth: 10000,
                adaptiveHeight: true,
                captions: true,
            });
            $('.sliderVideo').bxSlider({
                minSlides: 2,
                maxSlides: 2,
                slideWidth: 700,
                slideMargin: 10
            });
        });
    </script>

}