@{
    ViewData["Title"] = "Home page";
}

<section class="slider" style="width: 100%;height: 500px;overflow: hidden; ">
    <div class="swiper-container" style="display: flex;align-items: center;justify-content: center; height: 100%;">
        <div class="swiper-wrapper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <div class="slide">
                <h6 data-swiper-parallax="100" style="color: red">Başlık1</h6>
                <h2 data-swiper-parallax="200" style="color: red">AltBaşlık</h2>
                <p data-swiper-parallax="300" style="color: red">Açıklama</p>
            </div>
            <div class="slide">
                <h6 data-swiper-parallax="100" style="color: blue">Başlık2</h6>
                <h2 data-swiper-parallax="200" style="color: blue">AltBaşlık</h2>
                <p data-swiper-parallax="300" style="color: blue">Açıklama</p>
            </div>
            <div class="slide">
                <h6 data-swiper-parallax="100" style="color: orangered">Başlık3</h6>
                <h2 data-swiper-parallax="200" style="color: orangered">AltBaşlık</h2>
                <p data-swiper-parallax="300" style="color: orangered">Açıklama</p>
            </div>
        </div>
    </div>
</section>


<section class="menu section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Okullarımız</h3>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img src="~/images/2.jpg" class="img-fluid menu-image" width="400" height="300" alt="">
                        <span class="menu-tag bg-warning">Kozyatağı</span>
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h6 class="mb-0">İstanbul Demir WingTsun</h6>
                    </div>
                    <div class="row">
                        <a href=""><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img src="~/images/2.jpg" class="img-fluid menu-image" width="400" height="300" alt="">
                        <span class="menu-tag bg-warning">Urla</span>
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h6 class="mb-0">İzmir Demir WingTsun</h6>
                    </div>
                    <div class="row">
                        <a href=""><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="menu-thumb">
                    <div class="menu-image-wrap">
                        <img src="~/images/3.jpg" class="img-fluid menu-image" width="400" height="300" alt="">
                        <span class="menu-tag bg-warning">Süleymanpaşa</span>
                    </div>

                    <div class="menu-info d-flex flex-wrap align-items-center">
                        <h6 class="mb-0">Tekirdağ Demir WingTsun</h6><br />
                    </div>
                    <div class="row">
                        <a href=""><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                    </div>
                </div>
            </div>

        </div><br /><br />
        <div class="row">
            <h6 class="text-center mb-lg-5 mb-4"><a href="@Url.Action("Index","Schools")">Tümü --></a></h6>
        </div>
    </div>
</section>

<section class="news section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center mb-lg-5 mb-4">Duyurular & Seminerler</h3>
                    </div>
                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/3.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-info">Seminer</span>

                            <strong>12 April 2022</strong>

                            <h6 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">Tekirdağ Seminerimiz Sifu Serhat DEMİR Eşliğinde Gerçekleşti</a>
                            </h6>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/2.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-info">Seminer</span>

                            <strong>12 April 2022</strong>

                            <h6 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">İstanbul Seminerimiz Sifu Serhat DEMİR Eşliğinde Gerçekleşti</a>
                            </h6>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/header/wto1.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-danger">Duyuru</span>

                            <strong>12 April 2022</strong>

                            <h6 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">Yeni Dönem Kayıtlarımız Başlıyor !</a>
                            </h6>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <h6 class="text-center mb-lg-5 mb-4"><a href="@Url.Action("Index","News")">Tümü --></a></h6>
                </div>
            </div>
</section>

<section class="videos section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Videolar</h3>
            </div>
            <div class="row">
                <h6 class="mb-lg-5 mb-4"><a href="https://www.youtube.com/&#64;sifuserhatdemir/videos" target="_blank">Tüm videolar için tıklayınız</a></h6>
            </div>
            <div class="swiper-carousel wow fadeIn">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide" data-value="745">
                        <div>
                            <div id="player">
                                <iframe width="420" height="300" src="https://www.youtube.com/embed/u-St9weWmP0" frameborder="0" allowfullscreen></iframe>
                                <iframe width="420" height="300" src="https://www.youtube.com/embed/Ldj6hAT2TOY" frameborder="0" allowfullscreen></iframe>
                                <iframe width="420" height="300" src="https://www.youtube.com/embed/7FNar0rUhHg" frameborder="0" allowfullscreen></iframe>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("slide");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 3000); // Change image every 1 second
        }
    </script>

}