@using Application.Helpers;
@{
    ViewData["Title"] = "İletişim Ekle";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card" style="margin:auto;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">İletişim Ekle</h4>
                    <form class="forms-sample" id="addContactForm">
                        <div class="form-group">
                            <label for="name">Ad-Soyad</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="content">Telefon Numarası</label>
                            <textarea type="phone" class="form-control" id="phoneNumber" name="phoneNumber" required></textarea>
                        </div>
                        <button class="btn btn-danger"><a href="@Url.Action("Index","Contact")" style="color:white;">İptal Ve Listeye Dön</a></button>
                        <button type="submit" class="btn btn-primary" style="float:right;">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/Contact/create.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/vendors/jquery-validation/jquery.validate.min.js"></script>
}