<header class="site-header site-gallery-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <h3 class="text-white">Galeri</h3>
            </div>

        </div>
    </div>

    <div class="overlay"></div>
</header>

<section>
    <div class="col-lg-12">
        <br /><br />
        <div class="row"  >
            <div id="bxslider-gallery" style=" width: 600px;margin:auto;left: 50%;padding: 20px;">
               <ul class="bxslider-gallery">
                <li><img src="~/images/gallery/1.jpg" style="margin:auto;"/></li>
                <li><img src="~/images/gallery/2.jpg" style="margin:auto;" /></li>
                <li><img src="~/images/gallery/3.jpg" style="margin:auto;" /></li>
                <li><img src="~/images/gallery/wto1.jpg" style="margin:auto;" /></li>
            </ul>
           </div>
            

            <div id="bx-pager">
                <a data-slide-index="0" href=""><img src="~/images/gallery/1.jpg" width="72" height="72" /></a>
                <a data-slide-index="1" href=""><img src="~/images/gallery/2.jpg" width="72" height="72" /></a>
                <a data-slide-index="2" href=""><img src="~/images/gallery/3.jpg" width="72" height="72" /></a>
                <a data-slide-index="3" href=""><img src="~/images/gallery/wto1.jpg" width="72" height="72" /></a>
            </div>
        </div>
        
    </div>
       
    
</section>
@section Scripts{
    <script src="~/lib/bxSlider/js/bxslider.min.js" asp-append-version="true"></script>
    <script>
        $('.bxslider-gallery').bxSlider({
            pagerCustom: '#bx-pager',
            slideWidth: 700,
            slideMargin: 10
        });
    </script>
};