<header class="site-header site-gallery-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <h3 class="text-white">Galeri</h3>
            </div>

        </div>
    </div>

    <div class="overlay"></div>
</header>

<section class="gallery section-padding">
    <div class="container">
        <div class="row">
            <div class="gallery" style=" margin: 50px;float: left;width: 450px;">
                <a target="_blank" href="~/images/1.jpg">
                    <img src="~/images/1.jpg" alt="Cinque Terre" style="width: 100%;height: auto;">
                </a>
            </div>

            <div class="gallery" style=" margin: 50px;float: left;width: 450px;">
                <a target="_blank" href="~/images/2.jpg">
                    <img src="~/images/2.jpg" alt="Cinque Terre" style="width: 100%;height: auto;">
                </a>
            </div>

            <div class="gallery" style=" margin: 50px;float: left;width: 450px;">
                <a target="_blank" href="~/images/3.jpg">
                    <img src="~/images/3.jpg" alt="Cinque Terre" style="width: 100%;height: auto;">
                </a>
            </div>

            <div class="gallery" style=" margin: 50px;float: left;width: 450px;">
                <a target="_blank" href="~/images/header/wto1.jpg">
                    <img src="~/images/header/wto1.jpg" alt="Cinque Terre" style="width: 100%;height: auto;">
                </a>
            </div>

        </div>
    </div>
</section>
