<header class="site-header site-news-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <h3 class="text-white">Blog</h3>
            </div>

        </div>
    </div>

    <div class="overlay"></div>
</header>
<section class="news section-padding">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/3.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-info">Seminer</span>

                            <strong>12 April 2022</strong>

                            <h5 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">Tekirdağ Seminerimiz Sifu Serhat DEMİR Eşliğinde Gerçekleşti</a>
                            </h5>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/2.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-info">Seminer</span>

                            <strong>12 April 2022</strong>

                            <h5 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">İstanbul Seminerimiz Sifu Serhat DEMİR Eşliğinde Gerçekleşti</a>
                            </h5>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="news-detail.html">
                            <img src="images/header/wto1.jpg" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="news-text-info">
                            <span class="category-tag me-3 bg-danger">Duyuru</span>

                            <strong>12 April 2022</strong>

                            <h5 class="news-title mt-2">
                                <a href="news-detail.html" class="news-title-link">Yeni Dönem Kayıtlarımız Başlıyor !</a>
                            </h5>
                            <p><a href="">Detay Görüntüle --></a></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
